<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ><i class="fa fa-user"></i> <b> Hola usuario</b></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a ng-click="VComentariosPagina4(idPaginaSitio)">
                        <b>Comentar</b>
                    </a>
                </li>
                <li>
                    <a ng-click="VCrearSitio()">
                        <b>Crear Pagina de Sitio</b>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
                <li>
                    <a ng-click="APagina1(idPagina)" ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
                        <b>Página de usuario</b>
                    </a>
                </li>
                <li>
                    <a ng-click="VContactos2(idUsuario)" ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
                        <b>Contactos</b>
                    </a>
                </li>
                <li>
                    <a ng-click="VForos3(idUsuario)" ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
                        <b>Foros</b>
                    </a>
                </li>
                <li>
                    <a ng-click="VLogin0()"><i class="fa fa-power-off fa-lg" data-toggle="tooltip" title="Cerrar sesión"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="paginassitio">
    <header>
        <h3>Paginas de Sitio</h3>
    </header>
    <article ng-repeat="row in data1">
        <a ng-click="VPaginaSitio0(row['idSitio'])">{{row.titulo}}</a>
    </article>
</section>

<br/>
<br/>

<section id="comentarios">
    <header>
        <h3>Comentarios</h3>
    </header>
    <article ng-repeat="row in data0">
        <header>
            <p>{{row.autor}}</p>
        </header>
        <p>{{row.contenido}}</p>
    </article>
</section>