<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ><i class="fa fa-reddit-alien"></i> <b> Foro</b></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPublicacion1(idMensaje)">
  <b>Nueva publicación</b></a></li>
<li><a ng-click="AElimForo3(idForo)">
  <b>Eliminar foro</b></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><i class="fa fa-info-circle fa-lg" data-toggle="tooltip" title="Informacion" ></i></a></li>
<li><a ng-click="VForos2(idUsuario)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    <i class="fa fa-arrow-circle-left fa-lg" data-toggle="tooltip" title="Regresar"></i></a></li>
<li><a ng-click="VLogin0()">
    <i class="fa fa-power-off fa-lg" data-toggle="tooltip" title="Cerrar sesión"></i></a></li>

            </ul>
        </div>
    </div>
</nav>

        <table ng-table="tableParams0" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Título'" ng-bind="row['titulo']"></td>
                <td ng-show="row['idMensaje']"><a ng-click="VPublicacion0(row['idMensaje'])">Responder</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VForo.html">
<p> Página donde se muestran las publicaciones de un foro.
<p><b>Título</b>: Encabezado que describe el foro seleccionado. </p>
<a><b>Botones</b></a>
<p><b>Nueva publicación</b>: Redirección a la página donde se va a crear una nueva contribución.</p>
<p><b>Eliminar foro</b>: Elimina el foro seleccionado. </p>
<p><b>Regresar</b>: Redirecciona a la página anterior.</p>
<p><b>Salir</b>: Cierra sesión de usuario.</p>
</script>