<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ><b>{{titulo}}</b></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPagina2(idUsuario)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
  <b>Modificar</b></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><i class="fa fa-info-circle fa-lg"></i></a></li>
<li><a ng-click="VPrincipal1()"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    <i class="fa fa-arrow-circle-left fa-lg"></i></a></li>
<li><a ng-click="VLogin0()">
    <i class="fa fa-power-off fa-lg"></i></a></li>

            </ul>
        </div>
    </div>
</nav>

<div ng-bind-html="contenido"></div>



<div id="right"></div><script type="text/ng-template" id="ayuda_VMiPagina.html">
<div style="text-align: center;">Para modificar la información de su página debe 
posicionarse en el botón de modificar.<br/></div>
<p><b>Botones</b></p>
<p><b>Regresar</b>: Redirecciona a la página anterior.</p>
<p><b>Salir</b>: Cierra sesión de usuario.</p>
<div ng-bind-html="contenido"></div>

</script>